<!-- app/views/releases/index.html.erb -->
<div class="container mx-auto mt-32">
  <h2 class="text-4xl font-bold mb-4 text-white text-center">Releases</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <% @releases.each do |release| %>
      <%= render 'shared/release_card', release: release %>
    <% end %>
  </div>
</div>
